<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 100px;
            height: 100px;
        }
        .out{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            justify-items: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="out">
        {{each arr}}
        <div>
            <p>{{$index}}-{{$value.name}}</p>
            <img src="{{$value.imageUrl}}" alt="">
        </div>
        {{/each}}
    </div>

</body>
</html>