<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app" v-for="(item,index) of arr">{{item.name}}{{index}}</div>
    <!-- of|in都可以实现列表循环，推荐使用Of  of循环获取值，in获取键-->
    <!-- <div id="app" v-for="item of arr">{{item.name}}</div> -->
    <script>
        new Vue({
            el:"#app",
            data:{
                arr:[
                    {name:"html",id:1001},
                    {name:"css",id:1002}
                ]
            }
        })
    </script>
</body>
</html>