<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <form action="/doAdd" method="post" role="form" enctype="multipart/form-data">
        <legend>添加成员</legend>
        <div class="form-group">
            <label for="">姓名</label>
            <input type="text" name="name" class="form-control" id="" placeholder="请输入电影的名字">
        </div>
        <div class="form-group">
            <label for="">年龄</label>
            <input type="text" name="age" class="form-control" id="" placeholder="年龄">
        </div>
        <div class="form-group">
            <label for="">上传图片</label>
            <input type="file" name="file">
        </div>
        <div class="form-group">
            <label for="">点赞</label>
            <input type="checkbox" name="like">
        </div>
        <div class="form-group">
            <label for="">是否交好友</label>
            <input type="checkbox" name="friend">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>